<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Javascript rants and findings, by kangax">

    <title>Perfection Kills</title>

    <link rel="stylesheet" href="/css/master.css">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/PerfectionKills">
    <link rel="pingback" href="http://perfectionkills.com/xmlrpc.php">
  </head>
  <body>
    <div id="outer-wrapper">

      <div id="wrapper">

        {% include header.html %}

        <div class="front-page-content">
          {{ content }}
        </div>

      </div>
    </div>
    <script src="/js/master.js"></script>
  </body>
</html>
