<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">

    <title>{{ site.name }}</title>

    <link rel="stylesheet" href="/css/master.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>

    <div id="outer-wrapper">

      <div id="wrapper">

        {% include header.html %}

        <div class="front-page-content">
          {{ content }}
        </div>

      </div>
    </div>

    {% include footer.html %}

    <script src="/js/master.js"></script>
  </body>
</html>
