<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">

    <title>{{ page.title }} — {{ site.name }}</title>

    <link rel="stylesheet" href="../css/master.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div id="outer-wrapper">
      <div id="wrapper">

        {% include header.html %}

        <div class="content">

          <a href="/" class="back-to-front" title="Back to all posts">&larr; back</a>

          <span class="post-num-words">
            {{ page.content | number_of_words }} <span>words</span>
          </span>

          <span class="post-date">
            {{ page.date | date: "%-d %B %Y" }}
          </span>

          <div id="carbonads-container">
            <div class="carbonad">
              <div id="carbon"></div>
            </div>
          </div>

          {{ content }}

          <p class="donations-in-post">
            Did you like this? Donations are welcome

            <script data-gittip-username="kangax"
                data-gittip-widget="button"
                src="//gttp.co/v1.js"></script>

            <script id='fba9cr0'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=kangax&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fba9cr0');</script>
          </p>

          <div id="disqus_thread"></div>
          <script>
            var disqus_shortname = 'perfectionkillscom';
            (function() {
              var dsq = document.createElement('script'); dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>

      </div>
    </div>

    {% include footer.html %}

    <script src="../js/master.js"></script>

  </body>
</html>
